.search__heading > h1 {
  font-size: 42px;
}

.search__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.search__input {
  padding: 10px 20px;
}

.search__result {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 10px;
  margin: 0 auto;
}

.search__input > input {
  width: 300px;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid gray;
}

button {
  width: 300px;
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: rgb(56, 228, 56);
  cursor: pointer;
}

button:hover {
  color: #fff;
}

.card__list {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto auto;
  width: auto;
  height: auto;
  margin: 0;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.card__image {
  width: 350px;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card__image:hover {
  transform: scale(1.02);
  opacity: 1;
  cursor: pointer;
}

.card__name {
  background: #000;
  margin-top: -1.2rem;
  z-index: 10;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0;
  text-transform: uppercase;
}

.card__name > a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.card__name > a:hover {
  color: #9e9291;
}

@media screen and (max-width: 700px) {
  .search__result {
    display: flex;
    flex-direction: column;
  }
}
